

@font-face {
    font-family: 'Merriweather', serif;   
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}
@font-face {
    font-family: 'HelveticaNeue', sans-serif;
    src: url('/assets/fonts/HelveticaNeue-Thin.otf');
}