@import "./src/assets/css-normalizer.scss";
@import "./src/assets/css-resetter.scss";


//page 1//


.headerP1 {
 
  background:rgb(228, 223, 223);
  display:flex;
  height: 645px;
  width:100%;
  }

  .logoP1 {  
    display:flex;      
    justify-content: center;
    height: 185px;
    width: 40%;
    min-width: 550px;      
    position: relative;
  }
  

.logoContent {
  display: flex;  
  position: absolute;  
  padding: 10px;
  z-index: 100;
}

.logoText {
  flex-direction:column;
}

  .creative, .tagline {
    text-transform: uppercase; 
    color: #ffffff;
  
  }
  
  .creative {
    font-family: Bebas,AdobeInvisFont,MyriadPro-Regula;
    font-size: 190%;
    
   
  }
  .tagline {
    font-family: BaronNeue,AdobeInvisFont,MyriadPro-Regular;
    font-size: 120%;
    
    
  }
    .logo-image { 
      position: relative;      
      padding: right 125;      
      z-index: 100;
      
    }

    
  .triangle-down1 {
    position: absolute;    
    margin-right:10% ;
    width: 0;
    height: 0;
    border-left: 185px solid transparent;
    border-right: 200px solid transparent;
    border-top: 184px solid #019edb;
    top: 0;
    right: 20px; 
    z-index: 4;
   
  }
   .triangle-down2 {
    position: absolute; 
      
    margin-right:10% ;
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 184px solid #00090c;
    top: -105px;
    left:235px;   
    z-index: 2;
   
  }


  .navigationP1 {        
    position: relative;
    z-index: 5;
    height: 185px;
    width:60%;
    display: flex;
    justify-content:center;
    align-items:flex-start;    
    flex-wrap: nowrap;
    padding-top:30px;
    min-width: 950px;
    overflow: hidden;
  }
  .navigationP1>a {    
    font-family:Lato-Bold,AdobeInvisFont,
    MyriadPro-Regular;
    font-size: 10px;
    padding: 10px;    
    overflow: hidden;
  }
  .triangle-top-right {

    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 780px solid #F2F2F2; 
    border-left: 780px solid transparent;
  }     
  /*  Page 4   */
  .wrapperP4 {
   
    height: 635px;
    width: 100%;
    background: blueviolet;
     
  }

  /*  Page 5   */
  .wrapperP5 {
    display: flex;
    height: 770px;
    width: 100%;
    background: red;
  }