@import "./src/assets/css-normalizer.scss";
@import "./src/assets/css-resetter.scss";
@import"./assets/fonts.scss";
@import".partials/member_card.scss";

  

.cover {
    position: absolute;
    top:0;
    right:0;
    height: 5785px ;
    width: 100% ;
    background: url('/img/B&W Template.png') no-repeat top;
}
.header {
    display:flex;
    position:relative;
    width: 100%;
    height: 150px;
}

ul {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul li a {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 15px;
    color:#000000;
    font-family:'Roboto', sans-serif; 
    font-size: 24px;       
    transition: 0.5s;    
    overflow: hidden;
  }
  ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background:#000000;
    transition: 0.5s;
  }
  ul li a:hover {
    color: #fff;
  }
  ul li a:hover::before {
    animation: animate .5s linear forwards; 
  }
  
  @keyframes animate {
    0% {
      top: calc(50% - 2px);
      left: -100%;
      height: 4px;
      z-index: 1;
    }
    50% {
      top: calc(50% - 2px);
      left: 0;
      height: 4px;
      z-index: 1;
    }
    100% {
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1;
    }
  }

.main_motto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

h1 {    
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 4em;   
    padding-top: 10%;   
}

.textP1.textP3 {
    font-family: 'Merriweather', serif; 
    font-size: 1.5em;
    padding-top: 0.2%;
}

button {
    height: 60px;
    width: 190px;
    border:1px solid #000000;
    margin-top: 5%;
}

.aboutUs{
    height: 350px;
    width: 250px;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
  }
  .p{
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    cursor: pointer;
    width: 100%;
    background: rgb(101, 76, 211);
    border-radius: 10px;
    font-family: Century Gothic;
    letter-spacing: 5px;
  }
  .div{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 50%;
   transition-duration: 0.2s;
  
  }
  .p:hover{
    background:white;
    color: black;
  }
  .div:nth-child(odd){
    transform: perspective(300px) rotateY(45deg);
    box-shadow: -2px 2px 7px gray;
  }
  .div:nth-child(even){
    transform: perspective(300px) rotateY(-45deg);
      box-shadow: 2px 2px 7px gray;
  }
  .div:hover{
    transform: rotateY(0);
    background: white;
    color: black;
    box-shadow: 0px 0px 0px;
  }

  .tooltip {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 50px;
  margin: 200px auto;
  border: 1px solid gray;
  background-color: aqua;
  cursor: pointer;
  }

  &:hover
    .tooltip-content {
      display:block;
      animation: tooltip .7s ease forwards;
    }
      
.tooltip-content {
  display: none;
  opacity: 0;
  position: absolute;
  bottom: calc(100% + 50px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 350px;
  min-width: 300px;
  padding: 5px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.15);
}
.tooltip-arrow {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 25px;
  overflow:hidden;
  
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 8px 8px 9px -4px rgba(0,0,0,.15);
  }
  
  
  
  
  
  
  
  
  
@keyframes tooltip {
  0% {
    
  }
  100% {
    opacity: 1;
    bottom: calc(100% + 30px);
  }
}
}