@import "./src/assets/css-normalizer.scss";
@import "./src/assets/css-resetter.scss";
@import"./assets/fonts.scss";

.cover {
  position:relative;
  top:0;
  left:0;
  height: 5400px;
  width:100%;
  background: url('/img/Top Shapes.png') top right no-repeat ,
              url('/img/Background for cover.png') top right 10px no-repeat ; 
                        
}
      
//page 1//

*{border: 1px solid green;}

.headerP1 {
  
  display:flex;
  height: auto;
  width:100%;
  }

  .logoP1 {  
    display:flex;      
    justify-content: center;
    margin-left: 10px;
    height: auto;
    width: 40%;
    min-width: 550px;      
    position: relative;
  }
  

.logoContent {
  display: flex;  
  position: absolute;  
  padding: 10px;
  
}

.logoText {
  margin-left: 10px;
  flex-direction:column;
  padding-left: 45px;
}

  .creative, .tagline {
    text-transform: uppercase; 
    color: #ffffff;
  
  }
  
  .creative {
    font-family: Bebas,AdobeInvisFont,MyriadPro-Regula;
    font-size: 190%;
    
   
  }
  .tagline {
    font-family: BaronNeue,AdobeInvisFont,MyriadPro-Regular;
    font-size: 120%;
    
    
  }
    .logoImage { 
      position: absolute; 
    }

    
 
  

  .navigationP1 { 
    margin-left: 10px;       
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: auto;
    width:60%;
    display: flex;
    justify-content:flex-end;
    align-items:flex-start;    
    flex-wrap: nowrap;
    padding-top:30px;
    min-width: 950px;
    overflow: hidden;
  }
  .navigationP1>a {    
    font-family:Lato-Bold,AdobeInvisFont,
    MyriadPro-Regular;
    font-size: 10px;
    padding: 15px;    
    overflow: hidden;
  }
    
  
  
.mainPhoto {
  display:flex;
  position: absolute;  
  background: #019EDB;
  transform: rotate(45deg);
  overflow: hidden;
  height: 50%;
  width: 50%;  
  
  
  top: -250px;
  right: 85px;
  z-index:10;
  
  
}
.mainPhotoContainer{
position:absolute;
top:-40px;
left:-270px;
transform: rotate(-45deg);
height: 925px;
width: 1050px;
background: url('/img/Layer 7@1X.png') no-repeat #000000;
background-size:cover;

}

.blackContent {
  position:absolute;
  z-index:12;
transform: rotate(-45deg);
height: 350px;
width: 350px; 
top:-100px;
left:110px;
background: #000000;

}
